<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.AccountDao">

    <!-- 账户信息结果集 -->
	<resultMap id="balanceResultMap" type="java.util.HashMap">
	    <!-- 用户ID -->
		<result property="userid" column="userid" />
		<!-- 用户名 -->
		<result property="userName" column="userName" />
		<!-- 余额 -->
		<result property="balance" column="balance" />
		<!-- 奖金 -->
		<result property="prize" column="prize" />
		<!-- 零彩卷 -->
		<association property="certificate" column="userid" javaType="java.math.BigDecimal" select="com.palm.lingcai.repository.AccountDao.getUserCertificate" />
		<!-- 彩票资产 -->
		<association property="lotteryAsset" column="userid" javaType="java.math.BigDecimal" select="com.palm.lingcai.repository.AccountDao.getUserLotteryAsset" />
		<!-- 话费资产 -->
		<association property="fareAsset" column="userid" javaType="java.math.BigDecimal" select="com.palm.lingcai.repository.AccountDao.getUserFareAsset" />
		<!-- 流量资产 -->
		<association property="flowAsset" column="userid" javaType="java.math.BigDecimal" select="com.palm.lingcai.repository.AccountDao.getUserFlowAsset" />
		<!-- 当月彩票收益 -->
		<association property="lotteryMonthAsset" column="userid" javaType="java.math.BigDecimal" select="com.palm.lingcai.repository.AccountDao.getUserMonthLotteryAsset" />
		<!-- 当月话费收益 -->
		<association property="fareMonthAsset" column="userid" javaType="java.math.BigDecimal" select="com.palm.lingcai.repository.AccountDao.getUserMonthFareAsset" />
		<!-- 当月流量收益 -->
		<association property="flowMonthAsset" column="userid" javaType="java.math.BigDecimal" select="com.palm.lingcai.repository.AccountDao.getUserMonthFlowAsset" />
	</resultMap>
	
	<!-- 彩票年收益结果集 -->
	<resultMap id="yearProceedsResultMap" type="java.util.HashMap">
	    <!-- 年份 -->
		<result property="year" column="year" />
		<!-- 中奖金额 -->
		<result property="prizeMoney" column="prizeMoney" />
	</resultMap>
	
	<!-- 彩票月收益结果集 -->
	<resultMap id="monthProceedsResultMap" type="java.util.HashMap">
	    <!-- 年份 -->
		<result property="year" column="year" />
	    <!-- 月份 -->
		<result property="month" column="month" />
		<!-- 中奖金额 -->
		<result property="prizeMoney" column="prizeMoney" />
	</resultMap>

	<!-- 获取个人用户账户信息,不分页 -->
	<select id="searchUserAccountBalance" resultMap="balanceResultMap">
		SELECT id as userid,username as userName,balance as balance,prize as prize
		FROM tab_user
		<where>
			<if test="searchFields.userid != null and searchFields.userid != ''">
				AND id = #{searchFields.userid}
			</if>
			<if test="searchFields.username != null and searchFields.username != ''">
				AND username = #{searchFields.username}
			</if>
			<if test="searchFields.source != null and searchFields.source != ''">
				AND source = #{searchFields.source}
			</if>
			<if test="searchFields.openid != null and searchFields.openid != ''">
				AND openid = #{searchFields.openid}
			</if>
			AND userType = 1
		</where>
		<![CDATA[
			ORDER BY userid desc
		]]>
	</select>

	<!-- 获取个人用户账户信息,分页 -->
	<select id="searchUserAccountBalancePage" resultMap="balanceResultMap">
		SELECT id as userid,username as userName,balance as balance,prize as prize
		FROM tab_user
		<where>
			<if test="searchFields.userid != null and searchFields.userid != ''">
				AND id = #{searchFields.userid}
			</if>
			<if test="searchFields.username != null and searchFields.username != ''">
				AND username = #{searchFields.username}
			</if>
			<if test="searchFields.source != null and searchFields.source != ''">
				AND source = #{searchFields.source}
			</if>
			<if test="searchFields.openid != null and searchFields.openid != ''">
				AND openid = #{searchFields.openid}
			</if>
			AND userType = 1
		</where>
		<![CDATA[
			ORDER BY userid desc
		]]>
	</select>

	<!-- 获取账户零彩卷 -->
	<select id="getUserCertificate" parameterType="Long" resultType="java.math.BigDecimal">
		SELECT sum(price) as price
		FROM tab_coupon 
		WHERE userid = #{userid}
	</select>
	
	<!-- 获取账户彩票资产 -->
	<select id="getUserLotteryAsset" parameterType="Long" resultType="java.math.BigDecimal">
		SELECT sum(money) as lotteryAsset
		FROM tab_user_lottery
		WHERE userid = #{userid}
	</select>
	
	<!-- 获取账户话费资产 -->
	<select id="getUserFareAsset" parameterType="Long" resultType="java.math.BigDecimal">
		SELECT sum(money) as lotteryAsset
		FROM tab_user_lottery
		WHERE userid = #{userid} and 1=2
	</select>
	
	<!-- 获取账户流量资产 -->
	<select id="getUserFlowAsset" parameterType="Long" resultType="java.math.BigDecimal">
		SELECT sum(money) as lotteryAsset
		FROM tab_user_lottery
		WHERE userid = #{userid} and 1=2
	</select>
	
	<!-- 获取账户当月彩票资产 -->
	<select id="getUserMonthLotteryAsset" parameterType="Long" resultType="java.math.BigDecimal">
		SELECT sum(lot.money) as lotteryMonthAsset 
		FROM (
			SELECT userid,money   
			FROM tab_user_lottery 
			WHERE userid = #{userid} AND date_format(createtime,'%Y-%m')=date_format(now(),'%Y-%m') 
		) lot
		GROUP BY lot.userid
	</select>
	
	<!-- 获取账户当月话费资产 -->
	<select id="getUserMonthFareAsset" parameterType="Long" resultType="java.math.BigDecimal">
		SELECT sum(lot.money) as fareMonthAsset 
		FROM (
			SELECT userid,money   
			FROM tab_user_lottery 
			WHERE userid = #{userid} AND date_format(createtime,'%Y-%m')=date_format(now(),'%Y-%m') and 1=2 
		) lot
		GROUP BY lot.userid
	</select>
	
	<!-- 获取账户当月流量资产 -->
	<select id="getUserMonthFlowAsset" parameterType="Long" resultType="java.math.BigDecimal">
		SELECT sum(lot.money) as flowMonthAsset 
		FROM (
			SELECT userid,money   
			FROM tab_user_lottery 
			WHERE userid = #{userid} AND date_format(createtime,'%Y-%m')=date_format(now(),'%Y-%m') and 1=2 
		) lot
		GROUP BY lot.userid
	</select>
	
	<!-- 获取用户最近N年彩票中奖明细 -->
	<select id="getYearProceedsDetail" resultMap="yearProceedsResultMap">
		SELECT lot.year,sum(lot.prizeMoney) as prizeMoney 
		FROM (
			SELECT date_format(createtime,'%Y') as year,prizeMoney   
			FROM tab_user_prize 
			WHERE userid = #{userid} AND createtime is not null 
			ORDER BY year 
		) lot
		GROUP BY lot.year 
		LIMIT #{size}
	</select>
	<!-- 获取用户本年各月中奖明细 -->
	<select id="getMonthProceedsDetail" parameterType="Long" resultMap="monthProceedsResultMap">
		SELECT lot.year,lot.month,sum(lot.prizeMoney) as prizeMoney 
		FROM (
			SELECT date_format(createtime,'%Y') as year,date_format(createtime,'%m') as month,prizeMoney   
			FROM tab_user_prize 
			WHERE userid = #{userid} AND date_format(createtime,'%Y')=date_format(now(),'%Y') AND createtime is not null 
			ORDER BY year,month 
		) lot
		GROUP BY lot.year,lot.month  
	</select>
</mapper> 
