<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.BalanceDao">

	<resultMap id="resultMap" type="com.palm.lingcai.entity.Balance">
        <result property="id" column="id"/>
        <result property="balance" column="balance"/>
        <result property="userid" column="userid"/>
        <result property="type" column="type"/>
        <result property="wxserverid" column="wxserverid"/>
        <result property="remark" column="remark"/>
        <result property="createtime" column="createtime"/>
        <result property="modifytime" column="modifytime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,balance,userid,type,wxserverid,remark,createtime,modifytime
	</sql>
	
	<!-- 获取用户: 输出直接映射到对象 -->
	<select id="get" parameterType="Long" resultType="Balance">
		SELECT <include refid="columns" />
		FROM tab_balance
		WHERE id=#{id}
	</select>
	
	<!-- 提现统计 -->
	<select id="withdrawCount" resultType="int">
	    select count(*) from tab_balance where wxserverid=#{wxserverid} and balance=0
	</select>
	
	<!-- 未提现统计 -->
	<select id="noWithdrawCount" resultType="int">
	    select count(*) from tab_balance where wxserverid=#{wxserverid} and balance>0
	</select>
	
	<select id="findBalanceByUserIdAndServerId"  resultType="Balance">
		SELECT <include refid="columns" />
		FROM tab_balance
		WHERE userid=#{userid} AND wxserverid = #{wxserverid} 
	</select>
	<select id="findBalancesByUserId"  resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_balance
		WHERE userid=#{userid}
	</select>
	
	
	<!-- 更新 -->
	<update id="updateBalance" >
        UPDATE tab_balance
		<set>
			balance = balance+#{balance},
		</set>
        WHERE 
	        id = #{id}
	</update>

	<!-- 查询用户, 不分页 -->
	<select id="search" parameterType="map" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_balance
		<where>
	       <if test="balance != null and balance != ''">
				AND balance = #{balance}
		   </if>
	       <if test="userid != null and userid != ''">
				AND userid = #{userid}
		   </if>
	       <if test="type != null and type != ''">
				AND type = #{type}
		   </if>
	       <if test="wxserverid != null and wxserverid != ''">
				AND wxserverid = #{wxserverid}
		   </if>
	       <if test="remark != null and remark != ''">
				AND remark = #{remark}
		   </if>
	       <if test="createtime != null and createtime != ''">
				AND createtime = #{createtime}
		   </if>
	       <if test="modifytime != null and modifytime != ''">
				AND modifytime = #{modifytime}
		   </if>
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="searchPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_balance
		<where>
	       <if test="searchFields.balance != null and searchFields.balance != ''">
				AND balance = #{searchFields.balance}
			</if>
	       <if test="searchFields.userid != null and searchFields.userid != ''">
				AND userid = #{searchFields.userid}
			</if>
	       <if test="searchFields.type != null and searchFields.type != ''">
				AND type = #{searchFields.type}
			</if>
	       <if test="searchFields.wxserverid != null and searchFields.wxserverid != ''">
				AND wxserverid = #{searchFields.wxserverid}
			</if>
	       <if test="searchFields.remark != null and searchFields.remark != ''">
				AND remark = #{searchFields.remark}
			</if>
	       <if test="searchFields.createtime != null and searchFields.createtime != ''">
				AND createtime = #{searchFields.createtime}
			</if>
	       <if test="searchFields.modifytime != null and searchFields.modifytime != ''">
				AND modifytime = #{searchFields.modifytime}
			</if>
		</where>
	</select>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="Balance" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tab_balance (
        	balance,
        	userid,
        	type,
        	wxserverid,
        	remark,
        	createtime,
        	modifytime
		) VALUES (
        	#{balance},
        	#{userid},
        	#{type},
        	#{wxserverid},
        	#{remark},
        	#{createtime},
        	#{modifytime}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" >
        UPDATE tab_balance
		<set>
			balance = #{balance},
			userid = #{userid},
			type = #{type},
			wxserverid = #{wxserverid},
			remark = #{remark},
			createtime = #{createtime},
			modifytime = #{modifytime}
		</set>
        WHERE 
	        id = #{id}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="Long">
	     DELETE FROM tab_balance WHERE id=#{id}
	</delete>
</mapper> 
