<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.ChannelrecordDao">

	<resultMap id="resultMap" type="com.palm.lingcai.entity.Channelrecord">
		<result property="id" column="id" />
		<result property="channelid" column="channelid" />
		<result property="integral" column="integral" />
		<result property="mobile" column="mobile" />
		<result property="lotteryid" column="lotteryid" />
		<result property="orderid" column="orderid" />
		<result property="gameid" column="gameid" />
		<result property="createtime" column="createtime" />
		<result property="updatetime" column="updatetime" />
		<result property="remark" column="remark" />
		<result property="tradeno" column="tradeno" />
		<result property="notifyurl" column="notifyurl" />
		<result property="notifytimes" column="notifytimes" />
		<result property="notitytime" column="notitytime" />
		<result property="notifyflag" column="notifyflag" />
		
		
		<result property="prizetime" column="prizetime" />
		<result property="prizeball" column="prizeball" />
		<result property="prizeMoney" column="prizeMoney" />
		<result property="prizeMoneyAfterTax" column="prizeMoneyAfterTax" />
		<result property="tax" column="tax" />
		<result property="channelUseId" column="channelUseId" />
		<result property="userid" column="userid" />
		<result property="readFlags" column="readFlags" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,channelid,integral,mobile,lotteryid,orderid,gameid,createtime,updatetime,remark,tradeno,notifyurl,notifytimes,notitytime,notifyflag,channelUseId,userid,readFlags
	</sql>

	<!-- 获取用户: 输出直接映射到对象 -->
	<select id="get" parameterType="Long" resultType="Channelrecord">
		SELECT
		<include refid="columns" />
		FROM tab_channelrecord
		WHERE id=#{id}
	</select>
	
	<!-- 获取注册用户订单数据 -->
	<select id="findRecordByChannelUseId" parameterType="String" resultType="Channelrecord">
		SELECT
		<include refid="columns" />
		FROM tab_channelrecord
		WHERE channelUseId=#{channelUseId} AND userid is not null 
		ORDER BY id DESC 
		LIMIT 1 
	</select>
	
	<!-- 获取未读取用户订单记录数 -->
	<select id="findUnReadRecord" resultType="int">
		SELECT 
		COUNT(*) 
		FROM tab_channelrecord
		WHERE channelid=#{channelid} and channelUseId=#{channelUseId} and (readFlags=0 OR readFlags is null) 
	</select>
	
	<resultMap id="resultMap_ChannelRecord" type="com.palm.lingcai.entity.Channelrecord">
		<result property="id" column="id" />
		<result property="channelid" column="channelid" />
		<result property="integral" column="integral" />
		<result property="mobile" column="mobile" />
		<result property="lotteryid" column="lotteryid" />
		<result property="orderid" column="orderid" />
		<result property="gameid" column="gameid" />
		<result property="createtime" column="createtime" />
		<result property="updatetime" column="updatetime" />
		<result property="remark" column="remark" />
		<result property="tradeno" column="tradeno" />
		<result property="notifyurl" column="notifyurl" />
		<result property="notifytimes" column="notifytimes" />
		<result property="notitytime" column="notitytime" />
		<result property="notifyflag" column="notifyflag" />
		<result property="channelUseId" column="channelUseId" />
		<association property="lottery" javaType="Lottery"
			column="lotteryid" select="com.palm.lingcai.repository.LotteryDao.get">
		</association>
	</resultMap>
	<!-- 查询等待通知的记录-->
	<select id="findWaitNotiyList" resultMap="resultMap_ChannelRecord">
		SELECT *
		FROM tab_channelrecord
		WHERE 
 		<![CDATA[
 			notifytimes <10 and notifyflag =false
 		]]>
	</select>
	
	<resultMap id="userLotteryResultMap" type="java.util.HashMap">
	    <result property="channelrecordid" column="channelrecordid" />
	    <result property="lotteryid" column="lotteryid" />
	    <result property="userid" column="userid" />
		<result property="ballNo" column="ballNo" />
		<result property="issueNo" column="issueNo" />
		<result property="gameId" column="gameId" />
		<result property="orderId" column="orderId" />
		<result property="moneyType" column="moneyType" />
		<result property="orderStatus" column="orderStatus" />
		<result property="createTime" column="createTime" />
		<association property="prizeMoney" javaType="BigDecimal"
			column="{userid=userid,lotteryid=lotteryid}" select="com.palm.lingcai.repository.UserPrizeDao.getUserLotteryPrize">
		</association>
	</resultMap>
	
	<!-- 查询我的彩票-->
	<select id="queryUserLotteryPage" resultMap="userLotteryResultMap">
		SELECT cr.id as channelrecordid,cr.userid as userid,lot.id as lotteryid,lot.ball as ballNo,lot.issueNo as issueNo,lot.gameid as gameId,lot.orderid as orderId,lot.unitprice as moneyType,lot.lotteryStatus as orderStatus, DATE_FORMAT(cr.createtime,'%Y%m%d%H%i%s') as createTime     
		FROM tab_channelrecord cr,tab_lottery lot 
		WHERE cr.channelUseId=#{channelUseId} AND cr.lotteryid=lot.id 
		<if test="readFlags != null and readFlags != ''">
		    AND cr.readFlags=#{readFlags} 
		</if>
		ORDER BY cr.id DESC
	</select>


	<!-- 查询中奖信息 -->
	<select id="searchPrizeInfo" resultMap="resultMap">
		select
		tc.*,tp.issueNo,tp.prizetime,tp.prizeball,tp.prizeMoney,tp.prizeMoneyAfterTax,tp.tax
		from tab_channelrecord tc,tab_prize tp where tp.orderid=tc.orderid
		<if test="searchFields.channelid != null and searchFields.channelid != ''">
			and tc.channelid=#{searchFields.channelid}
		</if>
		<if test="searchFields.orderid != null and searchFields.orderid != ''">
			and tc.orderid=#{searchFields.orderid}
		</if>
		<if test="searchFields.issueNo != null and searchFields.issueNo != ''">
			and tp.issueNo=#{searchFields.issueNo}
		</if>
		<if test="searchFields.mobile != null and searchFields.mobile != ''">
			and tc.mobile=#{searchFields.mobile}
		</if>
		<if test="searchFields.gameid != null and searchFields.gameid != ''">
			and tc.gameid=#{searchFields.gameid}
		</if>
		<if test="searchFields.channelUseId != null and searchFields.channelUseId != ''">
			and tc.channelUseId=#{searchFields.channelUseId}
		</if>
		<if test="searchFields.userid != null and searchFields.userid != ''">
			and tc.userid=#{searchFields.userid}
		</if>
		<if test="searchFields.readFlags != null and searchFields.readFlags != ''">
			and tc.readFlags=#{searchFields.readFlags}
		</if>
	</select>

	<!-- 统计总计积分 -->
	<select id="sumIntegral" resultType="String">
		select sum(integral) from tab_channelrecord
		<where>
			<if test="searchFields.channelid != null and searchFields.channelid != ''">
				AND channelid = #{searchFields.channelid}
			</if>
			<if test="searchFields.starttime != null and searchFields.starttime != ''">
				AND createtime >= #{searchFields.starttime}
			</if>
			<if test="searchFields.endtime != null and searchFields.endtime != ''">
                <![CDATA[and createtime <= #{searchFields.endtime}]]>
			</if>
		</where>
	</select>

	<select id="searchOrderInfo" resultMap="resultMap">
	    SELECT
		tc.*
		FROM tab_channelrecord tc,tab_lottery tl
		<where>
			<if test="searchFields.channelid != null and searchFields.channelid != ''">
				AND tc.channelid = #{searchFields.channelid}
			</if>
			<if test="searchFields.integral != null and searchFields.integral != ''">
				AND tc.integral = #{searchFields.integral}
			</if>
			<if test="searchFields.mobile != null and searchFields.mobile != ''">
				AND tc.mobile = #{searchFields.mobile}
			</if>
			<if test="searchFields.lotteryid != null and searchFields.lotteryid != ''">
				AND tc.lotteryid = #{searchFields.lotteryid}
			</if>
			<if test="searchFields.orderid != null and searchFields.orderid != ''">
				AND tc.orderid = #{searchFields.orderid}
			</if>
			<if test="searchFields.gameid != null and searchFields.gameid != ''">
				AND tc.gameid = #{searchFields.gameid}
			</if>
			<if test="searchFields.issueNo != null and searchFields.issueNo != ''">
				AND tl.issueNo = #{searchFields.issueNo}
			</if>
			<if test="searchFields.channelUseId != null and searchFields.channelUseId != ''">
				AND tc.channelUseId = #{searchFields.channelUseId}
			</if>
			<if test="searchFields.userid != null and searchFields.userid != ''">
				AND tc.userid = #{searchFields.userid}
			</if>
			<if test="searchFields.readFlags != null and searchFields.readFlags != ''">
				AND tc.readFlags = #{searchFields.readFlags}
			</if>
			and tl.id=tc.lotteryid
		</where>
	</select>
	
	<!-- 查询用户, 不分页 -->
	<select id="search" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM tab_channelrecord
		<where>
			<if test="channelid != null and channelid != ''">
				AND channelid = #{channelid}
			</if>
			<if test="integral != null and integral != ''">
				AND integral = #{integral}
			</if>
			<if test="mobile !=null and mobile != ''">
				AND mobile = #{mobile}
			</if>
			<if test="lotteryid != null and lotteryid != ''">
				AND lotteryid = #{lotteryid}
			</if>
			<if test="orderid != null and orderid != ''">
				AND orderid = #{orderid}
			</if>
			<if test="gameid != null and gameid != ''">
				AND gameid = #{gameid}
			</if>
			<if test="createtime != null and createtime != ''">
				AND createtime = #{createtime}
			</if>
			<if test="updatetime != null and updatetime != ''">
				AND updatetime = #{updatetime}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="tradeno != null and tradeno != ''">
				AND tradeno = #{tradeno}
			</if>
			<if test="notifyurl != null and notifyurl != ''">
				AND notifyurl = #{notifyurl}
			</if>
			<if test="notifytimes != null and notifytimes != ''">
				AND notifytimes = #{notifytimes}
			</if>
			<if test="notitytime != null and notitytime != ''">
				AND notitytime = #{notitytime}
			</if>
			<if test="notifyflag != null and notifyflag != ''">
				AND notifyflag = #{notifyflag}
			</if>
			<if test="channelUseId != null and channelUseId != ''">
				AND channelUseId = #{channelUseId}
			</if>
			<if test="userid != null and userid != ''">
				AND userid = #{userid}
			</if>
			<if test="readFlags != null and readFlags != ''">
				AND readFlags = #{readFlags}
			</if>
		</where>
	</select>

	<!-- 分页查询 -->
	<select id="searchPage" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM tab_channelrecord
		<where>
			<if test="searchFields.channelid != null and searchFields.channelid != ''">
				AND channelid = #{searchFields.channelid}
			</if>
			<if test="searchFields.integral != null and searchFields.integral != ''">
				AND integral = #{searchFields.integral}
			</if>
			<if test="searchFields.mobile != null and searchFields.mobile != ''">
				AND mobile = #{searchFields.mobile}
			</if>
			<if test="searchFields.lotteryid != null and searchFields.lotteryid != ''">
				AND lotteryid = #{searchFields.lotteryid}
			</if>
			<if test="searchFields.orderid != null and searchFields.orderid != ''">
				AND orderid = #{searchFields.orderid}
			</if>
			<if test="searchFields.gameid != null and searchFields.gameid != ''">
				AND gameid = #{searchFields.gameid}
			</if>
			<if
				test="searchFields.createtime != null and searchFields.createtime != ''">
				AND createtime = #{searchFields.createtime}
			</if>
			<if test="searchFields.starttime != null and searchFields.starttime != ''">
				AND createtime >= #{searchFields.starttime}
			</if>
			<if test="searchFields.endtime != null and searchFields.endtime != ''">
                <![CDATA[and createtime <= #{searchFields.endtime}]]>
			</if>
			<if
				test="searchFields.updatetime != null and searchFields.updatetime != ''">
				AND updatetime = #{searchFields.updatetime}
			</if>
			<if test="searchFields.remark != null and searchFields.remark != ''">
				AND remark = #{searchFields.remark}
			</if>
			<if test="searchFields.tradeno != null and searchFields.tradeno != ''">
				AND tradeno= #{searchFields.tradeno}
			</if>
			<if test="searchFields.notifyurl != null and searchFields.notifyurl != ''">
				AND notifyurl = #{searchFields.notifyurl}
			</if>
			<if test="searchFields.notifytimes != null and searchFields.notifytimes != ''">
				AND notifytimes = #{searchFields.notifytimes}
			</if>
			<if test="searchFields.notitytime != null and searchFields.notitytime != ''">
				AND notitytime = #{searchFields.notitytime}
			</if>
			<if test="searchFields.notifyflag != null and searchFields.notifyflag != ''">
				AND notifyflag= #{searchFields.notifyflag}
			</if>
			<if test="searchFields.channelUseId != null and searchFields.channelUseId != ''">
				AND channelUseId= #{searchFields.channelUseId}
			</if>
			<if test="searchFields.userid != null and searchFields.userid != ''">
				AND userid= #{searchFields.userid}
			</if>
			<if test="searchFields.readFlags != null and searchFields.readFlags != ''">
				AND readFlags= #{searchFields.readFlags}
			</if>
		</where>
	</select>

	<!-- 新增 -->
	<insert id="insert" parameterType="Channelrecord"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tab_channelrecord (
		channelid,
		integral,
		mobile,
		lotteryid,
		orderid,
		gameid,
		createtime,
		updatetime,
		remark,
		tradeno,
		notifyurl,
		notifytimes,
		notitytime,
		notifyflag,
		channelUseId,
		userid,
		readFlags
		) VALUES (
		#{channelid},
		#{integral},
		#{mobile},
		#{lotteryid},
		#{orderid},
		#{gameid},
		#{createtime},
		#{updatetime},
		#{remark},
		#{tradeno},
		#{notifyurl},
		#{notifytimes},
		#{notitytime},
		#{notifyflag},
		#{channelUseId},
		#{userid},
		#{readFlags}
		)
	</insert>

	<!-- 更新 -->
	<update id="update">
		UPDATE tab_channelrecord
		<set>
			channelid = #{channelid},
			integral = #{integral},
			mobile =#{mobile},
			lotteryid = #{lotteryid},
			orderid = #{orderid},
			gameid =#{gameid},
			createtime = #{createtime},
			updatetime = #{updatetime},
			remark = #{remark},
			tradeno = #{tradeno},
			notifyurl = #{notifyurl},
			notifytimes = #{notifytimes},
			notitytime = #{notitytime},
			notifyflag = #{notifyflag},
			channelUseId = #{channelUseId},
			userid = #{userid},
			readFlags = #{readFlags}
		</set>
		WHERE
		id = #{id}
	</update>
	
	<!-- 更新读取标识 -->
	<update id="setReadFlags" parameterType="java.util.List">
		UPDATE tab_channelrecord 
		<set>
			readFlags = 1
		</set>
		WHERE 
		(readFlags = 0 or readFlags is null) 
		AND (
		<foreach collection="list" item="item" index="index" open="" close="" separator=" or ">
		    id = ${item.channelrecordid} 
		</foreach>
		)
	</update>

	<!-- 删除用户 -->
	<delete id="delete" parameterType="Long">
		DELETE FROM tab_channelrecord
		WHERE id=#{id}
	</delete>
</mapper> 
