<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.MessageDao">

    <resultMap id="resultMap" type="com.palm.lingcai.entity.Message">
        <result property="id" column="id"/>
        <result property="marketId" column="marketId"/>
        <result property="content" column="content"/>
        <result property="title" column="title"/>
        <result property="sortid" column="sortid"/>
        <result property="createTime" column="createTime"/>
         <result property="imageUrl" column="imageUrl"/>
        <result property="modifyTime" column="modifyTime"/>
        <result property="sender" column="sender"/>
        <result property="shortUrl" column="shortUrl"/>
        <result property="subscribe" column="subscribe"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
		id,marketId,content,title,sortid,createTime,modifyTime,sender,shortUrl,subscribe,imageUrl
	</sql>

    <!-- 获取用户: 输出直接映射到对象 -->
    <select id="get" parameterType="Long" resultType="Message">
        SELECT
        <include refid="columns"/>
        FROM tab_message
        WHERE id=#{id}
    </select>

    <!-- 根据计划id查询推送信息 -->
    <select id="findMessageByMarketid" resultType="Message">
        select <include refid="columns"/>
        from tab_message
        where marketid=#{marketid}
    </select>
    
    <!-- 获取信息，根据短网址-->
    <select id="getByShortUrl" parameterType="String" resultType="Message">
        SELECT
        <include refid="columns"/>
        FROM tab_message
        WHERE shortUrl=#{shortUrl}
    </select>
    
	<!-- 获取信息，根据用户id和消息id-->
    <select id="findMsgByIdAndUserId" resultType="Message">
        SELECT
        msg.*
        FROM tab_message msg,tab_marketplan m
        WHERE msg.id=#{id} and msg.marketId=m.id and m.userId=#{userId}
    </select>
	<!--获取信息，根据计划id和消息id -->
	 <select id="findMsgByMarketIdAndUserId" resultMap="resultMap">
        SELECT msg.* FROM tab_message msg,tab_marketplan m
        WHERE m.id=#{marketId} and msg.marketId=m.id and m.userId=#{userId}
    </select>
    <!-- 查询用户, 不分页 -->
    <select id="search" parameterType="map" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM tab_message
        <where>
            <if test="marketId != null and marketId != ''">
                AND marketId = #{marketId}
            </if>
            <if test="content != null and content != ''">
                AND content = #{content}
            </if>
            <if test="title != null and title != ''">
                AND title = #{title}
            </if>
            <if test="sortid != null and sortid != ''">
                AND sortid = #{sortid}
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                AND imageUrl = #{imageUrl}
            </if>
            <if test="createTime != null and createTime != ''">
                AND createTime = #{createTime}
            </if>
            <if test="modifyTime != null and modifyTime != ''">
                AND modifyTime = #{modifyTime}
            </if>
            <if test="sender != null and sender != ''">
                AND sender = #{sender}
            </if>
            <if test="shortUrl != null and shortUrl != ''">
                AND shortUrl = #{shortUrl}
            </if>
            <if test="subscribe != null and subscribe != ''">
                AND subscribe = #{subscribe}
            </if>
        </where>
        <if test="sortColumns != null and sortColumns != ''">
            ORDER BY ${sortColumns}
        </if>
    </select>

    <!-- 分页查询 -->
    <select id="searchPage" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM tab_message
        <where>
            <if test="searchFields.marketId != null and searchFields.marketId != ''">
                AND marketId = #{searchFields.marketId}
            </if>
            <if test="searchFields.content != null and searchFields.content != ''">
                AND content = #{searchFields.content}
            </if>
            <if test="searchFields.imageUrl != null and searchFields.imageUrl != ''">
                AND imageUrl = #{searchFields.imageUrl}
            </if>
            <if test="searchFields.title != null and searchFields.title != ''">
                AND title = #{searchFields.title}
            </if>
            <if test="searchFields.sortid != null and searchFields.sortid != ''">
                AND sortid = #{searchFields.sortid}
            </if>
            <if test="searchFields.createTime != null and searchFields.createTime != ''">
                AND createTime = #{searchFields.createTime}
            </if>
            <if test="searchFields.modifyTime != null and searchFields.modifyTime != ''">
                AND modifyTime = #{searchFields.modifyTime}
            </if>
            <if test="searchFields.sender != null and searchFields.sender != ''">
                AND sender = #{searchFields.sender}
            </if>
            <if test="searchFields.shortUrl != null and searchFields.shortUrl != ''">
                AND shortUrl = #{searchFields.shortUrl}
            </if>
            <if test="searchFields.subscribe != null and searchFields.subscribe != ''">
                AND subscribe = #{searchFields.subscribe}
            </if>
        </where>
        <if test="searchFields.sortColumns != null and searchFields.sortColumns != ''">
            ORDER BY ${searchFields.sortColumns}
        </if>
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="Message" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tab_message (
        	marketId,
        	content,
        	title,
        	sortid,
        	createTime,
        	modifyTime,
        	sender,
        	shortUrl,
        	subscribe,
        	imageUrl
		) VALUES (
        	#{marketId},
        	#{content},
        	#{title},
        	#{sortid},
        	#{createTime},
        	#{modifyTime},
        	#{sender},
        	#{shortUrl},
        	#{subscribe},
        	#{imageUrl}
		)
	</insert>

    <!-- 更新 -->
    <update id="update">
        UPDATE tab_message
        <set>
            marketId = #{marketId},
            content = #{content},
            title = #{title},
            sortid = #{sortid},
            createTime = #{createTime},
            modifyTime = #{modifyTime},
            sender = #{sender},
            shortUrl = #{shortUrl},
            subscribe = #{subscribe},
            imageUrl = #{imageUrl}
        </set>
        WHERE
        id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="delete" parameterType="Long">
	     DELETE FROM tab_message WHERE id=#{id}
	</delete>
	
	
	<!-- 获取消息: 输出直接映射到对象 -->
    <select id="findMaxSortIdByMarketId" parameterType="Long" resultType="Message">
        SELECT
        <include refid="columns"/>
        FROM tab_message
        WHERE marketId=#{marketId} 
        AND 1=1
        ORDER BY sortId desc LIMIT 1
    </select>
	<!--获取消息: 输出直接映射到对象 -->
    <select id="findMobileMessageByMarketplanId" parameterType="Long" resultType="Message">
        SELECT
        <include refid="columns"/>
        FROM tab_message
        WHERE marketId=#{marketId} 
        AND 1=1
        ORDER BY sortId desc LIMIT 1
    </select>
    
    <!-- 分页查询 -->
    <select id="findUserPage" resultMap="resultMap">
    	SELECT tmp.*,t.userMoney
        FROM (SELECT  msg.*, m.payFlag as payFlag ,m.totalPrice as totalPrice,m.unitPrice as unitPrice,m.status as status,
        m.startTime as startTime ,m.endTime as endTime 
        FROM tab_message as msg,tab_marketplan  as m 
        <where>
        		AND msg.marketId=m.id
          	<if test="searchFields.userId != null and searchFields.userId != ''">
                AND m.userId = #{searchFields.userId}
            </if>
            <if test="searchFields.startTime != null and searchFields.startTime != ''">
                AND m.startTime = #{searchFields.startTime}
            </if>
            <if test="searchFields.endTime != null and searchFields.endTime != ''">
                AND m.endTime = #{searchFields.endTime}
            </if>
            <if test="searchFields.marketId != null and searchFields.marketId != ''">
                AND msg.marketId = #{searchFields.marketId}
            </if>
            <if test="searchFields.content != null and searchFields.content != ''">
                AND msg.content = #{searchFields.content}
            </if>
            <if test="searchFields.title != null and searchFields.title != ''">
                AND msg.title = #{searchFields.title}
            </if>
            <if test="searchFields.sortid != null and searchFields.sortid != ''">
                AND msg.sortid = #{searchFields.sortid}
            </if>
            <if test="searchFields.createTime != null and searchFields.createTime != ''">
                AND msg.createTime = #{searchFields.createTime}
            </if>
            <if test="searchFields.modifyTime != null and searchFields.modifyTime != ''">
                AND msg.modifyTime = #{searchFields.modifyTime}
            </if>
            <if test="searchFields.sender != null and searchFields.sender != ''">
                AND msg.sender = #{searchFields.sender}
            </if>
            <if test="searchFields.shortUrl != null and searchFields.shortUrl != ''">
                AND msg.shortUrl = #{searchFields.shortUrl}
            </if>
            <if test="searchFields.subscribe != null and searchFields.subscribe != ''">
                AND msg.subscribe = #{searchFields.subscribe}
            </if>
        </where>
        <if test="searchFields.sortColumns != null and searchFields.sortColumns != ''">
            ORDER BY msg.${searchFields.sortColumns}
        </if>) as tmp 
        left join  (SELECT sum(l.money) as userMoney,l.marketid
		FROM tab_user_lottery as l group by l.marketid) as t
		on tmp.marketId=t.marketid
    </select>
    
    <!-- 删除用户 -->
    <delete id="deleteByMarketplanId" parameterType="Long">
	     DELETE FROM tab_message WHERE marketId=#{marketId}
	</delete>
</mapper> 

