<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.PhoneAreaDao">

	<resultMap id="resultMap" type="com.palm.lingcai.entity.PhoneArea">
		<result property="id" column="id" />
		<result property="phoneSegment" column="phoneSegment" />
		<result property="city" column="city" />
		<result property="phoneArea" column="phoneArea" />
		<result property="cityNum" column="cityNum" />
		<result property="provinceId" column="provinceId"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,phoneSegment,city,phoneArea,cityNum,provinceId
	</sql>

	<select id="findByPhoneSegment" parameterType="String" resultType="PhoneArea">
        SELECT
        <include refid="columns"/>
        FROM tab_phone_area
        <where>
            <if test="phoneSegment != null and phoneSegment != ''">
                AND phoneSegment = #{phoneSegment}
            </if>
        </where>
    </select>
</mapper> 
