<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.QRChannelDao">

    <resultMap id="resultMap" type="com.palm.lingcai.entity.QRChannel">
        <result property="id" column="id"/>
        <result property="marketid" column="marketid"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="qrpath" column="qrpath"/>
        <result property="createtime" column="createtime"/>
        <result property="shorturl" column="shorturl"/>
        <result property="logopath" column="logopath"/>
        <result property="qrcontent" column="qrcontent"/>
        <result property="forecolor" column="forecolor"/>
        <result property="backcolor" column="backcolor"/>
        <!-- 多对一关联映射 -->
        <!-- property:类中的属性名，javaType：属性名所对应的类型 -->
        <association property="marketplan" javaType="com.palm.lingcai.entity.Marketplan">
            <result property="id" column="mid"/>
            <result property="marketName" column="marketName"/>
            <result property="marketDesc" column="marketDesc"/>
            <result property="userId" column="userId"/>
            <result property="startTime" column="startTime"/>
            <result property="endTime" column="endTime"/>
            <result property="unitPrice" column="unitPrice"/>
            <result property="frequency" column="frequency"/>
            <result property="totalPrice" column="totalPrice"/>
            <result property="otherReward" column="otherReward"/>
            <result property="marketType" column="marketType"/>
            <result property="status" column="status"/>
            <result property="payFlag" column="payFlag"/>
            <result property="auditFlag" column="auditFlag"/>
            <result property="createTime" column="createTime"/>
            <result property="modifyTime" column="modifyTime"/>
            <result property="lotteryType" column="lotteryType"/>
            <result property="lotteryName" column="lotteryName"/>
            <result property="balanceFixed" column="balanceFixed"/>
        </association>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
		id,marketid,name,description,qrpath,createtime,shorturl,logopath,qrcontent,forecolor,backcolor
	</sql>

    <!-- 获取用户: 输出直接映射到对象 -->
    <select id="get" parameterType="Long" resultType="QRChannel">
        SELECT
        <include refid="columns"/>
        FROM tab_qrchannel
        WHERE id=#{id}
    </select>

    <!-- 获取关联对象 -->
    <select id="getRelation" parameterType="Long" resultMap="resultMap">
        SELECT a.*,b.id as mid,b.marketName,b.marketDesc,b.userId,b.startTime,b.endTime,b.unitPrice,b.frequency,b.totalPrice,b.otherReward,b.marketType,b.status,b.payFlag,b.auditFlag,b.createTime,b.modifyTime,b.lotteryType,b.lotteryName,b.balanceFixed
        FROM tab_qrchannel a,tab_marketplan b
        WHERE a.id=#{id} and a.marketId = b.id
    </select>

    <!-- 获取关联对象 -->
    <select id="getRelationByShorturl" parameterType="String" resultMap="resultMap">
        SELECT a.*,b.id as mid,b.marketName,b.marketDesc,b.userId,b.startTime,b.endTime,b.unitPrice,b.frequency,b.totalPrice,b.otherReward,b.marketType,b.status,b.payFlag,b.auditFlag,b.createTime,b.modifyTime,b.lotteryType,b.lotteryName,b.balanceFixed
        FROM tab_qrchannel a,tab_marketplan b
        WHERE a.shorturl=#{shorturl} and a.marketId = b.id
    </select>

    <!-- 查询用户, 不分页 -->
    <select id="search" parameterType="map" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM tab_qrchannel
        <where>
            <if test="marketid != null and marketid != ''">
                AND marketid = #{marketid}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="description != null and description != ''">
                AND description = #{description}
            </if>
            <if test="qrpath != null and qrpath != ''">
                AND qrpath = #{qrpath}
            </if>
            <if test="createtime != null and createtime != ''">
                AND createtime = #{createtime}
            </if>
            <if test="shorturl != null and shorturl != ''">
                AND shorturl = #{shorturl}
            </if>
        </where>
        <if test="sortColumns != null and sortColumns != ''">
            ORDER BY ${searchFields.sortColumns}
        </if>
    </select>

    <!-- 分页查询 -->
    <select id="searchPage" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM tab_qrchannel
        <where>
            <if test="searchFields.marketid != null and searchFields.marketid != ''">
                AND marketid = #{searchFields.marketid}
            </if>
            <if test="searchFields.name != null and searchFields.name != ''">
                AND name = #{searchFields.name}
            </if>
            <if test="searchFields.description != null and searchFields.description != ''">
                AND description = #{searchFields.description}
            </if>
            <if test="searchFields.qrpath != null and searchFields.qrpath != ''">
                AND qrpath = #{searchFields.qrpath}
            </if>
            <if test="searchFields.createtime != null and searchFields.createtime != ''">
                AND createtime = #{searchFields.createtime}
            </if>
            <if test="searchFields.shorturl != null and searchFields.shorturl != ''">
                AND shorturl = #{searchFields.shorturl}
            </if>
        </where>
        <if test="searchFields.sortColumns != null and searchFields.sortColumns != ''">
            ORDER BY ${searchFields.sortColumns}
        </if>
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="QRChannel" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tab_qrchannel (
        	marketid,
        	name,
        	description,
        	qrpath,
        	createtime,
        	shorturl,
        	logopath,
        	qrcontent,
        	forecolor,
        	backcolor
		) VALUES (
        	#{marketid},
        	#{name},
        	#{description},
        	#{qrpath},
        	#{createtime},
        	#{shorturl},
        	#{logopath},
        	#{qrcontent},
        	#{forecolor},
        	#{backcolor}
		)
	</insert>

    <!-- 更新 -->
    <update id="update">
        UPDATE tab_qrchannel
        <set>
            marketid = #{marketid},
            name = #{name},
            description = #{description},
            qrpath = #{qrpath},
            createtime = #{createtime},
            shorturl = #{shorturl},
            logopath = #{logopath},
            qrcontent = #{qrcontent},
            forecolor = #{forecolor},
            backcolor = #{backcolor}
        </set>
        WHERE
        id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="delete" parameterType="Long">
	     DELETE FROM tab_qrchannel WHERE id=#{id}
	</delete>
	
	 <!-- 删除用户 -->
    <delete id="deleteByMarketplanId" parameterType="Long">
	     DELETE FROM tab_qrchannel WHERE marketid=#{marketid}
	</delete>
</mapper> 
