<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.ReceiveCodeDao">

	<resultMap id="resultMap" type="com.palm.lingcai.entity.ReceiveCode">
        <result property="id" column="id"/>
        <result property="orderId" column="orderId"/>
        <result property="receiveCode" column="receiveCode"/>
        <result property="createtime" column="createtime"/>
        <result property="flag" column="flag"/>
	</resultMap>
	
	<sql id="columns">
		id,orderId,receiveCode,createtime,flag
	</sql>
	
	<select id="findReceiveCodeByOrderId"  parameterType="String" resultType="ReceiveCode">
		SELECT <include refid="columns" />
		FROM tab_receive_code
		WHERE 
			flag = 1
			and orderId = #{orderId}
	</select>
	
	<insert id="insert" parameterType="ReceiveCode">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select REPLACE(UUID(),'-','')
		</selectKey>
		
		INSERT INTO tab_receive_code (
			id,
        	orderId,
        	receiveCode,
        	createtime,
        	flag
		) VALUES (
			#{id},
        	#{orderId},
        	#{receiveCode},
        	#{createtime},
        	#{flag}
		)
	</insert>
	
	<update id="updateFlagByOrderId">
        UPDATE tab_receive_code
		<set>
			flag = 0
		</set>
        WHERE 
	        flag = 1
	        and orderId = #{orderId}
	</update>
	
	<update id="update" parameterType="ReceiveCode">
        UPDATE tab_receive_code
		<set>
			orderId = #{orderId},
			receiveCode = #{receiveCode},
			createtime = #{createtime},
			flag = #{flag}
		</set>
        WHERE 
	        id = #{id}
	</update>
</mapper> 
