<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mappedtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.RewardDao">

    <resultMap id="resultMap" type="com.palm.lingcai.entity.Reward">
        <result property="id" column="id"/>
        <result property="marketId" column="marketId"/>
        <result property="marketType" column="marketType"/>
        <result property="name" column="name"/>
        <result property="totalNum" column="totalNum"/>
        <result property="probability" column="probability"/>
        <result property="description" column="description"/>
        <result property="prizeDesc" column="prizeDesc"/>
        <result property="couponType" column="couponType"/>
        <result property="attachment" column="attachment"/>
        <result property="createTime" column="createTime"/>
        <result property="modifyTime" column="modifyTime"/>
        <result property="remark" column="remark"/>
        <result property="award" column="award"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,marketId,marketType,name,totalNum,probability,description,prizeDesc,couponType,attachment,createTime,modifyTime,remark,award
    </sql>

    <!-- 获取用户: 输出直接映射到对象 -->
    <select id="get" parameterType="Long" resultType="Reward">
        SELECT
        <include refid="columns"/>
        FROM tab_reward
        WHERE id=#{id}
    </select>

	<!-- 查询将来:根据奖励的计划id、奖励的类型 -->
    <select id="findRewardByTypeAndMarketId" parameterType="map" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM tab_reward
        <where>
        	 <if test="marketId != null and marketId != ''">
                AND marketId = #{marketId}
            </if>
            <if test="marketType != null and marketType != ''">
                AND marketType = #{marketType}
            </if>
        </where>
    </select>


    <!-- 查询用户, 不分页 -->
    <select id="search" parameterType="map" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM tab_reward
        <where>
            <if test="marketId != null and marketId != ''">
                AND marketId = #{marketId}
            </if>
            <if test="marketType != null and marketType != ''">
                AND marketType = #{marketType}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="totalNum != null and totalNum != ''">
                AND totalNum = #{totalNum}
            </if>
            <if test="probability != null and probability != ''">
                AND probability = #{probability}
            </if>
            <if test="description != null and description != ''">
                AND description = #{description}
            </if>
            <if test="prizeDesc != null and prizeDesc != ''">
                AND prizeDesc = #{prizeDesc}
            </if>
            <if test="couponType != null and couponType != ''">
                AND couponType = #{couponType}
            </if>
            <if test="attachment != null and attachment != ''">
                AND attachment = #{attachment}
            </if>
            <if test="createTime != null and createTime != ''">
                AND createTime = #{createTime}
            </if>
            <if test="modifyTime != null and modifyTime != ''">
                AND modifyTime = #{modifyTime}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark}
            </if>
            <if test="award != null and award != ''">
                AND award = #{award}
            </if>
        </where>
        <if test="sortColumns != null and sortColumns != ''">
            ORDER BY ${sortColumns}
        </if>
    </select>

    <!-- 分页查询 -->
    <select id="searchPage" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM tab_reward
        <where>
            <if test="searchFields.marketId != null and searchFields.marketId != ''">
                AND marketId = #{searchFields.marketId}
            </if>
            <if test="searchFields.marketType != null and searchFields.marketType != ''">
                AND marketType = #{searchFields.marketType}
            </if>
            <if test="searchFields.name != null and searchFields.name != ''">
                AND name = #{searchFields.name}
            </if>
            <if test="searchFields.totalNum != null and searchFields.totalNum != ''">
                AND totalNum = #{searchFields.totalNum}
            </if>
            <if test="searchFields.probability != null and searchFields.probability != ''">
                AND probability = #{searchFields.probability}
            </if>
            <if test="searchFields.description != null and searchFields.description != ''">
                AND description = #{searchFields.description}
            </if>
            <if test="searchFields.prizeDesc != null and searchFields.prizeDesc != ''">
                AND prizeDesc = #{searchFields.prizeDesc}
            </if>
            <if test="searchFields.couponType != null and searchFields.couponType != ''">
                AND couponType = #{searchFields.couponType}
            </if>
            <if test="searchFields.attachment != null and searchFields.attachment != ''">
                AND attachment = #{searchFields.attachment}
            </if>
            <if test="searchFields.createTime != null and searchFields.createTime != ''">
                AND createTime = #{searchFields.createTime}
            </if>
            <if test="searchFields.modifyTime != null and searchFields.modifyTime != ''">
                AND modifyTime = #{searchFields.modifyTime}
            </if>
            <if test="searchFields.remark != null and searchFields.remark != ''">
                AND remark = #{searchFields.remark}
            </if>
            <if test="searchFields.award != null and searchFields.award != ''">
                AND award = #{searchFields.award}
            </if>
        </where>
        <if test="searchFields.sortColumns != null and searchFields.sortColumns != ''">
            ORDER BY ${searchFields.sortColumns}
        </if>
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="Reward" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tab_reward (
        marketId,
        marketType,
        name,
        totalNum,
        probability,
        description,
        prizeDesc,
        couponType,
        attachment,
        createTime,
        modifyTime,
        remark,
        award
        ) VALUES (
        #{marketId},
        #{marketType},
        #{name},
        #{totalNum},
        #{probability},
        #{description},
        #{prizeDesc},
        #{couponType},
        #{attachment},
        #{createTime},
        #{modifyTime},
        #{remark},
        #{award}
        )
    </insert>

    <!-- 更新 -->
    <update id="update">
        UPDATE tab_reward
        <set>
            marketId = #{marketId},
            marketType = #{marketType},
            name = #{name},
            totalNum = #{totalNum},
            probability = #{probability},
            description = #{description},
            prizeDesc = #{prizeDesc},
            couponType = #{couponType},
            attachment = #{attachment},
            createTime = #{createTime},
            modifyTime = #{modifyTime},
            remark = #{remark},
            award = #{award}
        </set>
        WHERE
        id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM tab_reward WHERE id=#{id}
    </delete>

    <!-- 查询用户的其他奖励 -->
    <select id="findRewardByUser" parameterType="Long" resultType="Reward">
        SELECT
        r.id,r.marketId,r.marketType,r.name,r.totalNum,r.probability,r.description,r.prizeDesc,r.couponType,r.attachment,r.createTime,r.modifyTime,r.remark
        FROM tab_reward as r, tab_marketplan as m
        <where>
            AND r.marketId=m.id
            <if test="searchFields.userId != null and searchFields.userId!= ''">
                AND m.userId = #{searchFields.userId }
            </if>
            <if test="searchFields.marketId != null and searchFields.marketId != ''">
                AND r.marketId = #{searchFields.marketId}
            </if>
            <if test="searchFields.marketType != null and searchFields.marketType != ''">
                AND r.marketType = #{searchFields.marketType}
            </if>
            <if test="searchFields.name != null and searchFields.name != ''">
                AND r.name = #{searchFields.name}
            </if>
            <if test="searchFields.totalNum != null and searchFields.totalNum != ''">
                AND r.totalNum = #{searchFields.totalNum}
            </if>
            <if test="searchFields.probability != null and searchFields.probability != ''">
                AND r.probability = #{searchFields.probability}
            </if>
            <if test="searchFields.description != null and searchFields.description != ''">
                AND r.description = #{searchFields.description}
            </if>
            <if test="searchFields.prizeDesc != null and searchFields.prizeDesc != ''">
                AND r.prizeDesc = #{searchFields.prizeDesc}
            </if>
            <if test="searchFields.couponType != null and searchFields.couponType != ''">
                AND r.couponType = #{searchFields.couponType}
            </if>
            <if test="searchFields.attachment != null and searchFields.attachment != ''">
                AND r.attachment = #{searchFields.attachment}
            </if>
            <if test="searchFields.createTime != null and searchFields.createTime != ''">
                AND r.createTime = #{searchFields.createTime}
            </if>
            <if test="searchFields.modifyTime != null and searchFields.modifyTime != ''">
                AND r.modifyTime = #{searchFields.modifyTime}
            </if>
            <if test="searchFields.remark != null and searchFields.remark != ''">
                AND r.remark = #{searchFields.remark}
            </if>
            <if test="searchFields.award != null and searchFields.award != ''">
                AND r.award = #{searchFields.award}
            </if>
        </where>
        <if test="searchFields.sortColumns != null and searchFields.sortColumns != ''">
            ORDER BY r.${searchFields.sortColumns}
        </if>
    </select>


	 <!-- 获取零彩计划唯一的其他奖励 -->
    <select id="findUniqueRewardByMarketplanId" parameterType="Long" resultType="Reward">
        SELECT
        <include refid="columns"/>
        FROM tab_reward
        WHERE marketId=#{marketId} limit 1
    </select>
    
    <!-- 删除用户 -->
    <delete id="deleteByMarketplanId" parameterType="Long">
        DELETE FROM tab_reward WHERE marketId=#{marketId}
    </delete>
</mapper> 
