<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.dao.TestDemoDao">

	<resultMap id="resultMap" type="com.palm.lingcai.entity.TestDemo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createTime" column="create_time"/>
        <result property="age" column="age"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,name,create_time,age
	</sql>
	
	<!-- 获取用户: 输出直接映射到对象 -->
	<select id="get" parameterType="Long" resultType="TestDemo">
		SELECT <include refid="columns" />
		FROM TestDemo
		WHERE id=#{id}
	</select>
	

	<!-- 查询用户, 不分页 -->
	<select id="search" parameterType="map" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM TestDemo
		<where>
	       <if test="name != null and name != ''">
				AND name = #{name}
		   </if>
	       <if test="createTime != null and createTime != ''">
				AND create_time = #{createTime}
		   </if>
	       <if test="age != null and age != ''">
				AND age = #{age}
		   </if>
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="searchPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM TestDemo
		<where>
	       <if test="searchFields.name != null and searchFields.name != ''">
				AND name = #{searchFields.name}
			</if>
	       <if test="searchFields.createTime != null and searchFields.createTime != ''">
				AND create_time = #{searchFields.createTime}
			</if>
	       <if test="searchFields.age != null and searchFields.age != ''">
				AND age = #{searchFields.age}
			</if>
		</where>
	</select>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="TestDemo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO TestDemo (
        	name,
        	create_time,
        	age
		) VALUES (
        	#{name},
        	#{createTime},
        	#{age}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" >
        UPDATE TestDemo
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="createTime != null and createTime != ''">
				create_time = #{createTime},
			</if>
			<if test="age != null and age != ''">
				age = #{age}
			</if>
		</set>
        WHERE 
	        id = #{id}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="Long">
	     DELETE FROM TestDemo WHERE id=#{id}
	</delete>
</mapper> 
