<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.UserWeixinInfoDao">

	<resultMap id="resultMap" type="com.palm.lingcai.entity.UserWeixinInfo">
        <result property="id" column="id"/>
        <result property="subscribe" column="subscribe"/>
        <result property="openid" column="openid"/>
        <result property="nickname" column="nickname"/>
        <result property="sex" column="sex"/>
        <result property="language" column="language"/>
        <result property="city" column="city"/>
        <result property="province" column="province"/>
        <result property="country" column="country"/>
        <result property="headimgurl" column="headimgurl"/>
        <result property="subscribeTime" column="subscribe_time"/>
        <result property="wxserverid" column="wxserverid"/>
        <result property="createtime" column="createtime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,subscribe,openid,nickname,sex,language,city,province,country,headimgurl,subscribe_time,wxserverid,createtime
	</sql>
	
	<!-- 获取用户最新微信信息 -->
	<select id="getUserWeixinInfoByUserid" parameterType="Long" resultType="UserWeixinInfo">
		SELECT uw.userid,uwi.nickname 
		FROM tab_user_weixin_info uwi,tab_user_weixin uw
		WHERE uw.userid=#{userid} AND uw.openid=uwi.openid AND uw.wxserverid=uwi.wxserverid 
		ORDER BY uwi.createtime DESC LIMIT 1
	</select>
	
	<!-- 获取用户: 输出直接映射到对象 -->
	<select id="get" parameterType="Long" resultType="UserWeixinInfo">
		SELECT <include refid="columns" />
		FROM tab_user_weixin_info
		WHERE id=#{id}
	</select>
	
	<select id="findByOpenId" parameterType="String" resultType="UserWeixinInfo">
		SELECT <include refid="columns" />
		FROM tab_user_weixin_info
		WHERE openid=#{openid}  limit 1
	</select>
	
	<select id="findByOpenIdAndServerId" resultType="UserWeixinInfo">
		SELECT <include refid="columns" />
		FROM tab_user_weixin_info
		WHERE openid=#{openid} and  wxserverid=#{wxserverid} limit 1 
	</select>
	
	<!-- 查询用户, 不分页 -->
	<select id="search" parameterType="map" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_user_weixin_info
		<where>
	       <if test="subscribe != null and subscribe != ''">
				AND subscribe = #{subscribe}
		   </if>
	       <if test="openid != null and openid != ''">
				AND openid = #{openid}
		   </if>
	       <if test="nickname != null and nickname != ''">
				AND nickname = #{nickname}
		   </if>
	       <if test="sex != null and sex != ''">
				AND sex = #{sex}
		   </if>
	       <if test="language != null and language != ''">
				AND language = #{language}
		   </if>
	       <if test="city != null and city != ''">
				AND city = #{city}
		   </if>
	       <if test="province != null and province != ''">
				AND province = #{province}
		   </if>
	       <if test="country != null and country != ''">
				AND country = #{country}
		   </if>
	       <if test="headimgurl != null and headimgurl != ''">
				AND headimgurl = #{headimgurl}
		   </if>
	       <if test="subscribeTime != null and subscribeTime != ''">
				AND subscribe_time = #{subscribeTime}
		   </if>
		    <if test="wxserverid != null and wxserverid != ''">
				AND wxserverid = #{wxserverid}
		   </if>
		    <if test="createtime != null and createtime != ''">
				AND createtime = #{createtime}
		   </if>
		   
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="searchPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_user_weixin_info
		<where>
	       <if test="searchFields.subscribe != null and searchFields.subscribe != ''">
				AND subscribe = #{searchFields.subscribe}
			</if>
	       <if test="searchFields.openid != null and searchFields.openid != ''">
				AND openid = #{searchFields.openid}
			</if>
	       <if test="searchFields.nickname != null and searchFields.nickname != ''">
				AND nickname = #{searchFields.nickname}
			</if>
	       <if test="searchFields.sex != null and searchFields.sex != ''">
				AND sex = #{searchFields.sex}
			</if>
	       <if test="searchFields.language != null and searchFields.language != ''">
				AND language = #{searchFields.language}
			</if>
	       <if test="searchFields.city != null and searchFields.city != ''">
				AND city = #{searchFields.city}
			</if>
	       <if test="searchFields.province != null and searchFields.province != ''">
				AND province = #{searchFields.province}
			</if>
	       <if test="searchFields.country != null and searchFields.country != ''">
				AND country = #{searchFields.country}
			</if>
	       <if test="searchFields.headimgurl != null and searchFields.headimgurl != ''">
				AND headimgurl = #{searchFields.headimgurl}
			</if>
	       <if test="searchFields.subscribeTime != null and searchFields.subscribeTime != ''">
				AND subscribe_time = #{searchFields.subscribeTime}
			</if>
			 <if test="searchFields.wxserverid != null and searchFields.wxserverid != ''">
				AND wxserverid = #{searchFields.wxserverid}
		   </if>
		    <if test="searchFields.createtime != null and searchFields.createtime != ''">
				AND createtime = #{searchFields.createtime}
		   </if>
		</where>
	</select>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="UserWeixinInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tab_user_weixin_info (
        	subscribe,
        	openid,
        	nickname,
        	sex,
        	language,
        	city,
        	province,
        	country,
        	headimgurl,
        	subscribe_time,
        	wxserverid,
        	createtime
		) VALUES (
        	#{subscribe},
        	#{openid},
        	#{nickname},
        	#{sex},
        	#{language},
        	#{city},
        	#{province},
        	#{country},
        	#{headimgurl},
        	#{subscribeTime},
        	#{wxserverid},
        	#{createtime}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" >
        UPDATE tab_user_weixin_info
		<set>
			subscribe = #{subscribe},
			openid = #{openid},
			nickname = #{nickname},
			sex = #{sex},
			language = #{language},
			city = #{city},
			province = #{province},
			country = #{country},
			headimgurl = #{headimgurl},
			subscribe_time = #{subscribeTime},
			wxserverid=#{wxserverid},
        	createtime=#{createtime}
		</set>
        WHERE 
	        id = #{id}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="Long">
	     DELETE FROM tab_user_weixin_info WHERE id=#{id}
	</delete>
</mapper> 
