<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.UserWeixinDao">

	<resultMap id="resultMap" type="com.palm.lingcai.entity.UserWeixin">
        <result property="userid" column="userid"/>
        <result property="openid" column="openid"/>
        <result property="wxserverid" column="wxserverid"/>
        <result property="createtime" column="createtime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		userid,openid,wxserverid,createtime
	</sql>
	
	<!-- 获取用户: 输出直接映射到对象 -->
	<select id="get" parameterType="Long" resultType="UserWeixin">
		SELECT <include refid="columns" />
		FROM tab_user_weixin
		WHERE id=#{id}
	</select>
	
	<resultMap id="resultMap_User" type="com.palm.lingcai.entity.UserWeixin">
        <result property="userid" column="userid"/>
        <result property="openid" column="openid"/>
        <result property="wxserverid" column="wxserverid"/>
        <result property="createtime" column="createtime"/>
       <association property="user" javaType="User"
			column="userid" select="com.palm.lingcai.repository.UserDao.get">
		</association>
	</resultMap>
	
	<select id="findUserWeixinByOpenIdAndServerId"  resultMap="resultMap_User">
		SELECT <include refid="columns" />
		FROM tab_user_weixin
		WHERE openid=#{openid}  and wxserverid=#{wxserverid} limit 1
	</select>
	
	<select id="findUserWeixinByUserIdAndServerId"  resultMap="resultMap_User">
			SELECT <include refid="columns" />
			FROM tab_user_weixin
			WHERE userid=#{userid}  and wxserverid=#{wxserverid} limit 1
	</select>
	<!-- 查询用户, 不分页 -->
	<select id="search" parameterType="map" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_user_weixin
		<where>
	       <if test="userid != null and userid != ''">
				AND userid = #{userid}
		   </if>
	       <if test="createtime != null and createtime != ''">
				AND createtime = #{createtime}
		   </if>
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="searchPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_user_weixin
		<where>
	       <if test="searchFields.userid != null and searchFields.userid != ''">
				AND userid = #{searchFields.userid}
			</if>
	       <if test="searchFields.createtime != null and searchFields.createtime != ''">
				AND createtime = #{searchFields.createtime}
			</if>
		</where>
	</select>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="UserWeixin" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tab_user_weixin (
        	userid,
        	openid,
        	wxserverid,
        	createtime
		) VALUES (
        	#{userid},
        	#{openid},
        	#{wxserverid},
        	#{createtime}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" >
        UPDATE tab_user_weixin
		<set>
			userid = #{userid},
			createtime = #{createtime}
		</set>
        WHERE 
	        openid = #{openid} AND 
	        wxserverid = #{wxserverid}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="Long">
	     DELETE FROM tab_user_weixin WHERE id=#{id}
	</delete>
</mapper> 
