<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.palm.lingcai.repository.WeixinServerDao">

	<resultMap id="resultMap" type="com.palm.lingcai.entity.WeixinServer">
        <result property="id" column="id"/>
        <result property="appid" column="appid"/>
        <result property="appsecret" column="appsecret"/>
        <result property="userid" column="userid"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,appid,appsecret,userid
	</sql>
	
	<!-- 获取用户: 输出直接映射到对象 -->
	<select id="get" parameterType="Long" resultType="WeixinServer">
		SELECT <include refid="columns" />
		FROM tab_weixin_server
		WHERE id=#{id}
	</select>
	
	
	<select id="findWeixinServer" parameterType="Long" resultType="WeixinServer">
		SELECT <include refid="columns" />
		FROM tab_weixin_server
		WHERE appid=#{appid} and appsecret = #{appsecret} limit 1
	</select>
	

	<!-- 查询用户, 不分页 -->
	<select id="search" parameterType="map" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_weixin_server
		<where>
	       <if test="appid != null and appid != ''">
				AND appid = #{appid}
		   </if>
	       <if test="appsecret != null and appsecret != ''">
				AND appsecret = #{appsecret}
		   </if>
	       <if test="userid != null and userid != ''">
				AND userid = #{userid}
		   </if>
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="searchPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM tab_weixin_server
		<where>
	       <if test="searchFields.appid != null and searchFields.appid != ''">
				AND appid = #{searchFields.appid}
			</if>
	       <if test="searchFields.appsecret != null and searchFields.appsecret != ''">
				AND appsecret = #{searchFields.appsecret}
			</if>
	       <if test="searchFields.userid != null and searchFields.userid != ''">
				AND userid = #{searchFields.userid}
			</if>
		</where>
	</select>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="WeixinServer" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tab_weixin_server (
        	appid,
        	appsecret,
        	userid
		) VALUES (
        	#{appid},
        	#{appsecret},
        	#{userid}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" >
        UPDATE tab_weixin_server
		<set>
			appid = #{appid},
			appsecret = #{appsecret},
			userid = #{userid}
		</set>
        WHERE 
	        id = #{id}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="Long">
	     DELETE FROM tab_weixin_server WHERE id=#{id}
	</delete>
</mapper> 
